<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mypj.myapp.persistence.ApplyService_Mapper">

<insert id="applyInsert"  parameterType="HashMap">
insert into apply(tidx,midx,amount,studytime,contents,contact,area) 
values(#{tidx},#{midx},#{amount},#{studytime},#{contents},#{contact},#{area})
</insert>

<select id="teacherMyApplyList" parameterType="Integer" resultType="apdto">
select * from apply a inner join member b on a.midx=b.midx where tidx = #{tidx} order by a.apidx desc
</select>

<update id="applyCheckYnUpdate" parameterType="Integer">
update apply set checkYn="Y" where apidx = #{apidx}
</update>


<select id="applyWriteCheck" parameterType="HashMap" resultType="apdto">
select tidx, midx, checkYn,count(*) as cnt from apply where midx =#{midx} and tidx=#{tidx} group by tidx, midx,checkYn
</select>
</mapper>


