<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mypj.myapp.persistence.MainService_Mapper">


<select id="categorySelectAll"  resultType="cavo">
select * from category where delyn='N' order by caidx asc; 
</select>

<select id="studyareaSelectAll"  resultType="stvo">
select * from studyarea where delyn='N' order by stidx asc; 
</select>



</mapper>