<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mypj.myapp.persistence.MemberService_Mapper">

<insert id="memberInsert"  parameterType="HashMap">
insert into member(memberId,memberPwd,memberName,memberPhone,memberEmail,memberGender,memberBirth,memberApproveYn) 
values(#{memberId},#{memberPwd},#{memberName},#{memberPhone},#{memberEmail},#{memberGender},#{memberBirth},#{memberApproveYn})
</insert>

<select id="idCheck" parameterType="String" resultType="int">
select count(*) from member where memberId = #{memberId}
</select>

<select id="memberLogin" parameterType="String" resultType="mvo">
select * from member where delyn='N' and memberid= #{0}
</select>

<select id="memberSelectOne" parameterType="Integer" resultType="mvo">
select * from member where delyn='N' and midx = #{midx} 
</select>

<update id="memberModify"  parameterType="HashMap">
update member set membername = #{memberName}, memberphone=#{memberPhone},
memberemail = #{memberEmail},membergender=#{memberGender},memberbirth=#{memberBirth},writeday = now() where midx =#{midx}
</update>

<update id="passwordChange" parameterType="HashMap">
update member set memberPwd=#{memberPwd} where midx = #{midx}
</update>

<update id="memberDelete" parameterType="HashMap">
update member set delyn='Y',writeday=now(), reason=#{reason} where midx = #{midx}
</update>


<select id="memberIdFind" parameterType="String" resultType="String">
select memberid from member where delyn='N' and membername = #{0} and memberemail = #{1}
</select>

<select id="memberPwdFind" parameterType="String" resultType="String">
select memberpwd from member where delyn='N' and memberid = #{0} and memberemail = #{1}
</select>

<select id="memberApplyList" parameterType="Integer" resultType="apdto">
select a.apidx,b.teachername,a.contact,a.area,a.amount,a.studytime,a.contents,a.writeday,a.checkyn,
(select c.cateName FROM category c where c.caidx = b.caidx) as catename 
from apply a inner join teacher b on a.tidx=b.tidx 
where a.midx = #{midx}
order by a.apidx desc
</select>


<update id="memberApproveYnUpdate" parameterType="Integer">
update member set memberApproveYn='Y' where midx = #{midx}
</update>

<select id="memberReviewList" parameterType="Integer" resultType="redto">
select a.ridx, c.catename, b.teacherName, a.writer,a.content from review a inner join teacher b on a.tidx=b.tidx 
inner join category c on b.caidx = c.caidx
where a.delyn='N' and a.midx =#{midx};
</select>

<update id="updatePwd" parameterType="String">
update member set memberPwd=#{1} where memberId=#{0}
</update>

<update id="keepLogin" parameterType="HashMap">
update member set sessionkey = #{sessionKey}, sessionlimit = #{sessionLimit} where midx = #{midx}
</update>

<select id="checkAutoLogin" parameterType="String" resultType="mvo">
select * from member where sessionkey = #{sessionKey} and sessionlimit >= now()
</select>

<update id="memberLogOut" parameterType="Integer">
update member set sessionkey = '', sessionlimit = '' where midx = #{midx}

</update>

</mapper>


